@page
@model Demo.Pages.BetaModel
@{
    ViewData["Title"] = "Beta page";
}

<style>
    h1 {
        color: @Model.Settings.FontColor;
    }
</style>

<div class="text-center">
    <h1>This is the beta website.</h1>
</div>
